body.transparent-header.user-logged-in .tc--program-page {
  margin-top: -214px;
}

body.user-logged-in:not(.transparent-header) .tc--landing-page {
  margin-top: 0;
}


/* Koret Mind Body Widget: iframe height fix so calendar widget won't cut off */
.bw-widget-styles {
  height: 580px!important;
}